.root{
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Arial";
    -fx-font-size: 14pt;
}

.label, .text{
    -fx-fill: #000000;
    -fx-text-fill: #000000;
}

.button{
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000000;
}

.correct{
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.wrong{
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}